body{
	padding:0;
	margin:0;
	background-image: url('rest.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#bigTitle, #subTitle {
	margin: 0;
	padding: 0px;
	font-family: 'Tangerine', cursive;
}
#bigTitle {
	margin-top: 30px;
	font-size: 60px;
}
#subTitle {
	font-size: 40px;
}
#container, #tableContainer, .table {
	display:flex;
	justify-content: space-around;
	align-items: center;
}
#container {
	flex-direction: column;
	z-index: 1;
}

#tableContainer {
	background-color: rgba(169,169,169, 0.7);
	width: 90%;
	max-width: 700px;
	min-height: 500px;
	margin: auto;
	margin-top: 30px;
	border-radius: 10px;
	flex-wrap: wrap
}
.table {
	font-size: 30px;
	height: 80px;
	width: 80px;
	border-radius: 100%;
	margin: 20px;
}
.open {
	color:	#fff;
	background-color: green;
}
.filled {
	color: #000;
	background-color: red;
}
.open:hover {
	background-color: yellow;
}
#form {
	background-color: rgba(169,169,169, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	max-width: 700px;
	min-height: 500px;
	padding: 20px 80px;
	border-radius: 10px;
	z-index: 2;
}
input {
	padding: 10px 20px 5px 30px;
	background-color: rgba(169,169,169, 0);
	border: none;
	border-bottom: 2px solid black;
	color: black;

}
#close {
	background-color: rgba(169,169,169, 0);
	font-size: 20px;
	width: 20px;
	align-self: flex-end;
	border: none;
}
#book {
	background-color: #fff;
	border-radius: 10px;
	border:none;
}

#form h1 {
	font-family: arial;
	margin: 0;
}